<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="display: block;border-bottom: 1px dashed #ddd;">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/booking/">Booking </a>
      </li>
      <li>
        <a href="/booking/add">Booking Add</a>
      </li>
      <li>
        <a href="/booking/edit">Booking Edit</a>
      </li>
      <li>
        <a href="/booking/service">Booking Service</a>
      </li>
      <li>
        <a href="/booking/service">Booking Service</a>
      </li>
      <li>
        <a href="/booking/service/add">Booking Service Add</a>
      </li>
    </ul>
  </div>
<router-outlet></router-outlet>
